<div class="casesContainer">
  <div class="dataInfo">
    <div class="cards cardCases">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/add-user.png">
      </div>
      <div class="textCases">
        <p class="text">Liczba przypadków</p>
        <h2 class="wyniki wynik1">{{confirmedRecord?.Confirmed}}</h2>
      </div>
    </div>
    <div class="cards cardCured">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/healthcare.png">
      </div>
      <div class="textCases">
        <p class="text text1">Wyleczeni</p>
        <h2 class="wyniki">{{confirmedRecord?.Recovered}}</h2>
      </div>
    </div>
    <div class="cards cardDead">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/remove-user.png">
      </div>
      <div class="textCases">
        <p class="text text1">Zgony</p>
        <h2 class="wyniki">{{confirmedRecord?.Deaths}}</h2>
      </div>
    </div>
  </div>
</div>
<h1 style="text-align:center; margin-top: 2%">{{countryName}}</h1>
<hr>
<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Potwierdzone przypadki">
        <ng-template matTabContent>
            <app-chart title="Confirmed" [country]="countrySlug"></app-chart>
        </ng-template>
    </mat-tab>
    <mat-tab label="Zgony">
        <ng-template matTabContent>
            <app-chart title="Deaths" [country]="countrySlug"></app-chart>
        </ng-template>
    </mat-tab>
    <mat-tab label="Wyleczeni">
        <ng-template matTabContent>
            <app-chart title="Recovered" [country]="countrySlug"></app-chart>
        </ng-template>
    </mat-tab>
</mat-tab-group>
