<!-- Header - Często header stanowi osobny komponent
Wykorzystano https://material.angular.io/components/toolbar/overview -->
<mat-toolbar>
    <mat-toolbar-row>
        <button class="coronaButton"  mat-flat-button [routerLink]="['/dash']"><img class="corona" src="assets/corona.png"></button>
        <!-- [routerLink]="['/students']" - oznacza, że po naciśnięciu przycisku, aplikacja
    przeniesie użytkownika na url /students, a co za tym idzie w miejsce <router-outlet>
    zostanie podstawiony komponent Students. Zgodnie z deklaracją w app-routing.module.ts -->
        <button class="menuButtons" mat-button [routerLink]="['/dash']">Polska</button>
        <button class="menuButtons" mat-button [routerLink]="['/statistics']">Świat</button>
        <button class="menuButtons" mat-button [routerLink]="['/wojewodztwa']">Województwa</button>
        <button class="menuButtons" mat-button [routerLink]="['/countries']">Kraje</button>



    </mat-toolbar-row>
</mat-toolbar>

<!-- Dzięki router-outlet na podstawie deklaracji z app-routing.module.ts
   podstawiane są komponenty -->
<router-outlet></router-outlet>

<!-- Footer - Często footer stanowi osobny komponent -->
<footer>
    <!-- Znak &nbsp; oznacza dla HTML spacje -->
    <div>
        Koronawirus<br> Sars-Cov2
    </div>
    <a>
    Ostatnia Aktualizacja&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© 2020 Copyright: Project Politechika Lodzka
  </a>
</footer>
