<div class="casesContainer">
  <div class="dataInfo">
    <div class="cards cardCases">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/add-user.png">
      </div>
      <div class="textCases">
        <p class="text">Liczba przypadków</p>
        <h2 class="wyniki wynik1">{{confirmed}}</h2>
      </div>
    </div>
    <div class="cards cardCured">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/healthcare.png">
      </div>
      <div class="textCases">
        <p class="text text1">Wyleczeni</p>
        <h2 class="wyniki">{{recovered}}</h2>
      </div>
    </div>
    <div class="cards cardDead">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/remove-user.png">
      </div>
      <div class="textCases">
        <p class="text text1">Zgony</p>
        <h2 class="wyniki">{{deaths}}</h2>
      </div>
    </div>
  </div>
</div>
<jqxChart id="myChart" #myChart [width]="'100%'" [height]="550" [title]="'Polska - dane z ostatniego miesiąca'" [enableAxisTextAnimation]="true " [description]=" '' " [animationDuration]="1000 " [showLegend]="true " [enableAnimations]="true " [padding]="padding" [titlePadding]="titlePadding " [source]="data " [xAxis]="xAxis " [valueAxis]="valueAxis " [seriesGroups]="seriesGroups " [colorScheme]=" 'scheme01' " [showBorderLine]="false" [legendLayout]="legendLayout">
</jqxChart>
<div class="chartChanger">
  <div class="typWykresu">
    <label class="customLabel">Typ wykresu:</label>
    <jqxDropDownList class="custom-select" (onChange)="seriesOnChange($event) " [width]="180" [height]="30" [selectedIndex]="2 " [dropDownHeight]="100 " [dropDownWidth]="180 " [source]="seriesList ">    </jqxDropDownList>
  </div>
  <div class="koloryWykresu">
    <label class="customLabel">Wybierz kolor:</label>
    <jqxDropDownList class="custom-select" (onChange)="colorsOnChange($event) " [width]="180" [height]="30" [selectedIndex]="2 " [dropDownHeight]="100 " [dropDownWidth]="180 " [source]="colorsSchemesList ">    </jqxDropDownList>
  </div>
</div>
