<div class="casesContainer">
  <div class="dataInfo">
    <div class="cards cardCases">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/add-user.png">
      </div>
      <div class="textCases">
        <p class="text">Liczba przypadków</p>
        <h2 class="wyniki wynik1">{{totalCases}}</h2>
      </div>
    </div>
    <div class="cards cardCured">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/healthcare.png">
      </div>
      <div class="textCases">
        <p class="text text1">Wyleczeni</p>
        <h2 class="wyniki">{{totalRecovered}}</h2>
      </div>
    </div>
    <div class="cards cardDead">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/remove-user.png">
      </div>
      <div class="textCases">
        <p class="text text1">Zgony</p>
        <h2 class="wyniki">{{totalDeaths}}</h2>
      </div>
    </div>
  </div>
</div>
<div class="summary">
    Statystyki pobrane z dnia:
    <strong> {{asOnDate | date : 'MMM d, y hh:mm a'}}</strong>
</div>
<mat-form-field style="margin-left: 20px;">
    <input matInput (keyup)="applyFilter($event.target.value)" (keydown)="keydown($event.target.value)" placeholder="Państwo">
</mat-form-field>

<div *ngIf="countriesSummary.length !== 0; else emptyDiv" class="table-container">
    <table mat-table [dataSource]="displayItems" class="mat-elevation-z8">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>Lp</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{(pageNumber * 10) + i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Kraje</th>
            <td mat-cell *matCellDef="let element"><a [routerLink]="'/live/' + element.Slug"> {{element.Country}} </a></td>
        </ng-container>
        <ng-container matColumnDef="confirmed">
            <th mat-header-cell *matHeaderCellDef>Potwierdzone przypadki</th>
            <td mat-cell *matCellDef="let element"> {{element.TotalConfirmed}} </td>
        </ng-container>
        <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef>Zgony</th>
            <td mat-cell *matCellDef="let element"> {{element.TotalDeaths}} </td>
        </ng-container>
        <ng-container matColumnDef="recovered">
            <th mat-header-cell *matHeaderCellDef>Wyzdrowienia</th>
            <td mat-cell *matCellDef="let element"> {{element.TotalRecovered}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="countriesSummary.length" [pageSize]="10" (page)="pageChange($event)">
    </mat-paginator>
</div>

<ng-template #emptyDiv>
    Ładowanie danych
</ng-template>
