<div class="casesContainer">
  <div class="dataInfo">
    <div class="cards cardCases">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/add-user.png">
      </div>
      <div class="textCases">
        <p class="text">Liczba przypadków</p>
        <h2 class="wyniki wynik1">{{confirmed}}</h2>
      </div>
    </div>
    <div class="cards cardCured">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/healthcare.png">
      </div>
      <div class="textCases">
        <p class="text text1">Wyleczeni</p>
        <h2 class="wyniki">{{recovered}}</h2>
      </div>
    </div>
    <div class="cards cardDead">
      <div class="casesIcon">
        <img class="cardImage" src="../../assets/remove-user.png">
      </div>
      <div class="textCases">
        <p class="text text1">Zgony</p>
        <h2 class="wyniki">{{deaths}}</h2>
      </div>
    </div>
  </div>
</div>
<jqxChart #myChart [width]="'90%' " [height]="550 " [title]=" 'Statystyka ze świata' " [enableAxisTextAnimation]="true " [description]=" '' " [animationDuration]="1000 " [showLegend]="true " [enableAnimations]="true " [padding]="padding
                " [titlePadding]="titlePadding " [source]="data " [xAxis]="xAxis " [valueAxis]="valueAxis " [seriesGroups]="seriesGroups " [colorScheme]=" 'scheme01' ">
</jqxChart>
<table>
    <tbody>
        <tr>
            <td style="padding-left: 50px ">
                <p>Typ wykresu:</p>
                <jqxDropDownList (onChange)="seriesOnChange($event) " [width]="200 " [height]="25 " [selectedIndex]="2 " [dropDownHeight]="100 " [source]="seriesList ">
                </jqxDropDownList>
            </td>
            <td>
                <p>Kolor wykresu:</p>
                <jqxDropDownList (onChange)="colorsOnChange($event) " [width]="200 " [height]="25 " [selectedIndex]="2 " [dropDownHeight]="100 " [source]="colorsSchemesList ">
                </jqxDropDownList>
            </td>
        </tr>
    </tbody>
</table>
<div class="predict">
  <div class="predictCases">
    <div class="predict7days background-yellow">
      <span class="label">Przewidywana zmiana po 7 dniach</span>
      <span class="value">{{getPredictedValue(7)}}</span>
    </div>
    <div class="predict30days background-yellow">
      <span class="label">Przewidywana zmiana po 30 dniach</span>
      <span class="value">{{getPredictedValue(30)}}</span>
    </div>
    <div class="predictOwn background-yellow">
      <span class="label">Przewidywana zmiana po <input  style ="width: 50px;" type="number" [value]="predictDay" (change)="predictDay = $event.target.value" /> dniach</span>
      <span class="value">{{getPredictedValue(predictDay)}}</span>
    </div>
  </div>
  <div class="predictCured">
    <div class="predict7days background-green">
        <span class="label">Przewidywana zmiana po 7 dniach</span>
        <span class="value">{{getPredictedValue1(7)}}</span>
    </div>
    <div class="predict30days background-green">
      <span class="label">Przewidywana zmiana po 30 dniach</span>
      <span class="value">{{getPredictedValue1(30)}}</span>
    </div>
    <div class="predictOwn background-green">
      <span class="label">Przewidywana zmiana po <input  style ="width: 50px;" type="number" [value]="predictDay" (change)="predictDay = $event.target.value" /> dniach</span>
      <span class="value">{{getPredictedValue1(predictDay)}}</span>
    </div>
  </div>
  <div class="predictDead">
    <div class="predict7days background-red">
      <span class="label">Przewidywana zmiana po 7 dniach</span>
      <span class="value">{{getPredictedValue2(7)}}</span>
    </div>
    <div class="predict30days background-red">
      <span class="label">Przewidywana zmiana po 30 dniach</span>
      <span class="value">{{getPredictedValue2(30)}}</span>
    </div>
    <div class="predictOwn background-red">
      <span class="label">Przewidywana zmiana po <input  style ="width: 50px;" type="number" [value]="predictDay" (change)="predictDay = $event.target.value" /> dniach</span>
      <span class="value">{{getPredictedValue2(predictDay)}}</span>
    </div>
  </div>
</div>

<table cellpadding="0" cellspacing="0" style="margin-top: 30%">
    <tr>
        <td>
            <jqxChart #secondChart [width]="720" [height]="360" [title]="'Statystyka dla świata'" [description]="''" [showLegend]="false" [enableAnimations]="true" [padding]="padding" [titlePadding]="titlePadding" [source]="data1" [showToolTips]="true" [seriesGroups]="secondSeriesGroup"
                [colorScheme]="'scheme04'" [backgroundColor]="'#FAFAFA'" [drawBefore]="drawBefore">
            </jqxChart>
        </td>
    </tr>
</table>
